.app-container4 {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  max-width: 1200px !important;
  background-color: #f3f4f6;
}

.game-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.sentence-info {
  margin-bottom: 0.2rem;
  font-size: 1.125rem;
}

.word-section4 {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  position: relative;
  height: 60vh;
  overflow-y: auto;
}

.question-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sub-questions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.sub-question {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sub-question p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.input-field {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  min-width: 200px;
}

.input-field:hover {
  background-color: #f3f4f6;
}

.option-list4 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  /* position: absolute; */
  width: 1000px;
}

.word-item {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.word-item:hover {
  background-color: #2563eb;
}

.word-item.disabled {
  background-color: #a3bffa;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.result {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.correct {
  color: #10b981;
}

.incorrect {
  color: #ef4444;
}

.correct-answer {
  margin-bottom: 1rem;
}

.correct-answer p {
  font-size: 1.125rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.check-button, .try-again-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
}

.check-button {
  background-color: #10b981;
  color: white;
}

.check-button:hover {
  background-color: #059669;
}

.try-again-button {
  background-color: #f59e0b;
  color: white;
}

.try-again-button:hover {
  background-color: #d97706;
}